@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pokemon Hollow';
  src:url(../assets/Pokemon_Hollow.ttf)
}

@font-face {
  font-family: 'Pokemon Solid';
  src:url(../assets/Pokemon_Solid.ttf)
}

:root {
  --light-rgb: 229, 236, 253;
  --dark-rgb: 25, 34, 39;
  --foreground-rgb: var(--dark-rgb);
  --background-start-rgb: var(--light-rgb);
  --background-end-rgb: var(--light-rgb);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--light-rgb);
    --background-start-rgb: var(--dark-rgb);
    --background-end-rgb: var(--dark-rgb);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-weight: 400;
    font-size: 16px;
  }
  
  h1, h2, h3 {
  font-family: 'Pokemon Solid';
}

  h4, h5, h6 {
  font-family: 'Pokemon Hollow';

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
